<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ADD Product</title>
</head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<body>
	<div th:replace="/admin/header :: header"></div>
	<div class="container text-center">
		<div>
			<H1 style="margin:40px 0 20px;">
				<b>Add Apartment</b>
			</H1>
		</div>
		<form style="max-width: 600px; margin: 0 auto;"
			th:action="@{/admin/apartment/add}" th:object="${apartment}"
			method="post" enctype="multipart/form-data">

<!--				<div class="form-group row" style="display: none">-->
<!--					<label  for="1" class="col-form-label col-sm-4">Department ID:</label>-->
<!--					<div class="col-sm-8">-->
<!--						<input type="text" class="form-control mb-2 mr-sm-2"-->
<!--							placeholder="Nhập tên sản phẩm" id="1" th:field="*{id}">-->
<!--					</div>-->
<!--				</div>-->

<!--			<div class="form-group row">-->
<!--				<label for="1" class="col-form-label col-sm-4">Apartment Area:</label>-->
<!--				<div class="col-sm-8">-->
<!--					<input type="text" class="form-control mb-2 mr-sm-2"-->
<!--						   placeholder="Enter the erea" id="1" th:field="*{area}">-->
<!--				</div>-->
<!--			</div>-->

<!--			<div class="form-group row">-->
<!--				<label for="1" class="col-form-label col-sm-4">Department Name:</label>-->
<!--				<div class="col-sm-8">-->
<!--					<input type="text" class="form-control mb-2 mr-sm-2"-->
<!--						   placeholder="Enter name of apartment" id="1" th:field="*{name}">-->
<!--				</div>-->
<!--			</div>-->

<!--			<div class="form-group row">-->
<!--				<label for="1" class="col-form-label col-sm-4">Number of Rooms:</label>-->
<!--				<div class="col-sm-8">-->
<!--					<input type="text" class="form-control mb-2 mr-sm-2"-->
<!--						   placeholder="Enter number of room" id="1" th:field="*{num_rooms}">-->
<!--				</div>-->
<!--			</div>-->

			<div class="form-group row" >
									<label  for="name" class="col-form-label col-sm-4">Department name:</label>
									<div class="col-sm-8">
										<input th:field="*{name}" class="form-control" placeholder="Enter name" name="name">
									</div>
								</div>

			<div class="form-group row" >
				<label  for="area" class="col-form-label col-sm-4">Apartment Area:</label>
				<div class="col-sm-8">
					<input th:field="*{area}" class="form-control" placeholder="Enter erea" name="area">
				</div>
			</div>

			<div class="form-group row" >
				<label  for="num" class="col-form-label col-sm-4">Number of Rooms:</label>
				<div class="col-sm-8">
					<input th:field="*{num_rooms}" class="form-control" placeholder="Enter number of room" name="num">
				</div>
			</div>

<!--			<div class="mb-3 mt-3">-->
<!--				<label for="name">Name:</label>-->
<!--				<input th:field="*{name}" class="form-control" placeholder="Enter name" name="name">-->
<!--				<p th:errors="*{name}"></p>-->
<!--			</div>-->


			<div class="action text-center" style="margin:20px 0;">
				<button class="btn btn-primary mb-2" style="height: 38px; width:100%;"
						type="submit">Save
				</button>
			</div>
		</form>
	</div>
	<div th:replace="/admin/footer :: footer"></div>

<!--	<script type="text/javascript">-->
<!--		$(document).ready(function(){-->
<!--			$('#fileImage1').change(function(){-->
<!--				showImageThumbnail1(this);-->
<!--			});-->
<!--			-->
<!--			$('#fileImage2').change(function(){-->
<!--				showImageThumbnail2(this);-->
<!--			});-->
<!--			-->
<!--			$('#fileImage3').change(function(){-->
<!--				showImageThumbnail3(this);-->
<!--			});-->
<!--			-->
<!--		});-->

<!--		function showImageThumbnail1(fileInput){-->
<!--			file = fileInput.files[0];-->
<!--			reader = new FileReader();-->

<!--			reader.onload = function(e){-->
<!--				$('#thumbnail1').attr('src', e.target.result);-->
<!--			};-->

<!--			reader.readAsDataURL(file);	-->
<!--		}-->
<!--		-->
<!--		/* $(document).ready(function(){-->
<!--			$('#fileImage2').change(function(){-->
<!--				showImageThumbnail(this);-->
<!--			});-->
<!--		}); */-->

<!--		function showImageThumbnail2(fileInput){-->
<!--			file = fileInput.files[0];-->
<!--			reader = new FileReader();-->

<!--			reader.onload = function(e){-->
<!--				$('#thumbnail2').attr('src', e.target.result);-->
<!--			};-->

<!--			reader.readAsDataURL(file);	-->
<!--		}-->
<!--		-->
<!--		/* $(document).ready(function(){-->
<!--			$('#fileImage3').change(function(){-->
<!--				showImageThumbnail(this);-->
<!--			});-->
<!--		}); */-->

<!--		function showImageThumbnail3(fileInput){-->
<!--			file = fileInput.files[0];-->
<!--			reader = new FileReader();-->

<!--			reader.onload = function(e){-->
<!--				$('#thumbnail3').attr('src', e.target.result);-->
<!--			};-->

<!--			reader.readAsDataURL(file);	-->
<!--		}-->

<!--	</script>-->
</body>
</html>
<style>
	.form-group .col-form-label {
		text-align: left;
	}
</style>