<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>ADD Product</title>
</head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	  th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<body>
<div th:replace="/admin/header :: header"></div>
<div class="col-12 col-sm-9">
	<div class="container mt-1">
		<div class="row">
			<h6>Create Bill</h6>
		</div>
		<hr />
		<div class="row">

			<form th:action="@{/admin/bill/add}" method="post">
				<div class="mb-3">
					<label class="form-label">Apartment:</label>
					<select name="apartment.id" class="form-control">
						<option  th:each="a: ${apartments}" th:value="${a.id}" th:text="${a.name}"></option>
					</select>
				</div>

<!--				<div class="mb-3 mt-3">-->
<!--					<label class="form-label">PriceTotal:</label>-->
<!--					<input type="number" class="form-control" placeholder="Enter priceTotal" name="priceTotal">-->
<!--				</div>-->

			<div class="mb-3 mt-3">
				<label class="form-label">Status:</label>
				<input type="text" class="form-control" placeholder="Enter status" name="status">
			</div>

				<button type="submit" class="btn btn-primary">Create</button>
			</form>
		</div>
	</div>
</div>
</body>
</html>