<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Add Resident</title>
    <style>
        #myDIV {
            width: 100%;
            height: 300px;
            background-color: #FFFFFF;
            border: 5px solid;
            border-style: dashed;
        }
        #myDIV2 {
            width: 100%;
            height: 300px;
            background-color: #FFFFFF;
            border: 5px solid;
            border-style: dashed;
        }
    </style>
</head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
      th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<body>
<div th:replace="/admin/header :: header"></div>
<div class="container text-center">
    <div>
        <H1 style="margin:40px 0 20px;">
            <b>Add Resident</b>
        </H1>
    </div>
    <form enctype="multipart/form-data"
          method="post" style="max-width: 600px; margin: 0 auto;"
          th:action="@{/admin/resident/add}" th:object="${resident}">
        <div th:if="${err}">
            <p style="color : red; text-align: center" th:text="${err}"></p><br>
        </div>


        <div class="form-group row" >
            <label  for="name" class="col-form-label col-sm-4">Name:</label>
            <div class="col-sm-8">
                <input th:field="*{name}" class="form-control" placeholder="Enter name" name="name">
            </div>
        </div>

        <div class="form-group row" >
            <label  for="email" class="col-form-label col-sm-4">Email:</label>
            <div class="col-sm-8">
                <input th:field="*{email}" class="form-control" placeholder="Enter erea" name="email">
            </div>
        </div>

        <div class="form-group row" >
            <label  for="phone" class="col-form-label col-sm-4">Phone:</label>
            <div class="col-sm-8">
                <input th:field="*{phone}" class="form-control" placeholder="Enter number of room" name="phone">
            </div>
        </div>

        <div class="form-group row" >
            <label  for="frontIdCard" class="col-form-label col-sm-4">Front ID Card:</label>
            <!--<div class="col-sm-8">
                <input accept="image/*" type="file"  class="form-control" placeholder="Upload front ID card" name="frontIdCard">
            </div>-->
            <div class=" col-sm-6">
                <div class="mb-3">
                    <input type="file" name="file1" accept="image/*" onchange="loadFile(event)"
                    />
                </div>

            </div>
        </div>

        <div class="form-group row" >
            <label  for="backIdCard" class="col-form-label col-sm-4">Back ID Card:</label>
            <div class=" col-sm-6">
                <div class="mb-3">
                    <input type="file" name="file2" accept="image/*" onchange="loadFile(event)"
                    />
                </div>

            </div>
        </div>

<!--        <div class="form-group row" >-->
<!--            <label  for="idNumber" class="col-form-label col-sm-4">ID number:</label>-->
<!--            <div class="col-sm-8">-->
<!--                <input th:field="*{idNumber}" class="form-control" placeholder="Enter number of room" name="idNumber">-->
<!--            </div>-->
<!--        </div>-->

        <div class="form-group row" >
            <label  for="gender" class="col-form-label col-sm-4">gender:</label>
            <div class="col-sm-8">
                <input th:field="*{gender}" class="form-control" placeholder="Enter number of room" name="gender">
            </div>
        </div>

        <div class="form-group row" >
            <label  for="dateOfBirth" class="col-form-label col-sm-4">Date of birth:</label>
            <div class="col-sm-8">
                <input type="date" th:field="*{dateOfBirth}" class="form-control" placeholder="yyyy-MM-dd" name="dateOfBirth">
            </div>
        </div>


        <div class="form-group row">
            <label class="col-form-label col-sm-4">Apartment:</label>
            <div class="col-sm-8">
            <select style="height: 46px;border: 1px solid #ced4da;border-radius: 5px;" name="apartmentId"
                    class="form-select col">
                <option th:value=1>Chọn</option>
                <option th:each="d : ${listApartments}" name = "apartmentId" th:value="${d.id}"
                        th:text="${d.name}"></option>
            </select>
            <!--<p th:if="${select}==1">Vui lòng chọn Apartment</p>-->
            </div>
        </div>


            <div class="action text-center" style="margin:20px 0;">
                <button class="btn btn-primary mb-2" style="height: 38px; width:100%;"
                        type="submit">Save
                </button>
            </div>
    </form>
</div>
<div th:replace="/admin/footer :: footer"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#fileImage1').change(function () {
            showImageThumbnail1(this);
            document.getElementById('thumbnail1').style.display = "block"
        });

        $('#fileImage2').change(function () {
            showImageThumbnail2(this);
            document.getElementById('thumbnail2').style.display = "block"
        });

        $('#fileImage3').change(function () {
            showImageThumbnail3(this);
            document.getElementById('thumbnail3').style.display = "block"
        });

    });

    function showImageThumbnail1(fileInput) {
        file = fileInput.files[0];
        reader = new FileReader();

        reader.onload = function (e) {
            $('#thumbnail1').attr('src', e.target.result);
        };

        reader.readAsDataURL(file);
    }

    /* $(document).ready(function(){
        $('#fileImage2').change(function(){
            showImageThumbnail(this);
        });
    }); */

    function showImageThumbnail2(fileInput) {
        file = fileInput.files[0];
        reader = new FileReader();

        reader.onload = function (e) {
            $('#thumbnail2').attr('src', e.target.result);
        };

        reader.readAsDataURL(file);
    }

    /* $(document).ready(function(){
        $('#fileImage3').change(function(){
            showImageThumbnail(this);
        });
    }); */

    function showImageThumbnail3(fileInput) {
        file = fileInput.files[0];
        reader = new FileReader();

        reader.onload = function (e) {
            $('#thumbnail3').attr('src', e.target.result);
        };

        reader.readAsDataURL(file);
    }

</script>
<script>
    var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
            URL.revokeObjectURL(output.src) // free memory
        }
    };

    var loadFile2 = function(event) {
        var output = document.getElementById('output2');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
</script>
</body>
</html>
<style>
    .form-group .col-form-label {
        text-align: left;
    }
</style>