<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ADD Product</title>
</head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
      th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}">
<body>
<div th:replace="/admin/header :: header"></div>
<div class="container text-center">
    <div>
        <H1>
            <b>EDIT INFORMATION</b>
        </H1>
    </div>

    <form style="max-width: 600px; margin: 0 auto;"
          th:action="@{/admin/resident/edit}" th:object="${resident}"
          method="post" enctype="multipart/form-data">
        <!--			<div class="m-3">	-->
        <!--				-->
        <!--				<div class="form-group row">-->
        <!--					<label for="1" class="col-form-label col-sm-4">Ảnh 1:</label>-->
        <!--					<div class="col-sm-8">-->
        <!--						<input type="file" id="fileImage1" name="primaryImage" accept="image/png,image/jpeg"/>-->
        <!--					</div>-->
        <!--				</div>-->
        <!--				<p> <img style="height:200px; width:200px;" id="thumbnail1" alt="Image Preview"></p>-->
        <!--				-->
        <!--				<div class="form-group row">-->
        <!--					<label for="1" class="col-form-label col-sm-4">Ảnh 2:</label>-->
        <!--					<div class="col-sm-8">-->
        <!--						<input type="file" id="fileImage2" name="img_sub1" accept="image/png,image/jpeg"/>-->
        <!--					</div>-->
        <!--				</div>-->
        <!--				<p> <img style="height:200px; width:200px;" id="thumbnail2" alt="Image Preview"></p>-->
        <!--				-->
        <!--				<div class="form-group row">-->
        <!--					<label for="1" class="col-form-label col-sm-4">Ảnh 3:</label>-->
        <!--					<div class="col-sm-8">-->
        <!--						<input type="file" id="fileImage3" name="img_sub1" accept="image/png,image/jpeg"/>-->
        <!--					</div>-->
        <!--				</div>-->
        <!--				<p> <img style="height:200px; width:200px;" id="thumbnail3" alt="Image Preview"></p>-->

        <!--				<div class="form-group row">-->
        <!--					<div class="col-sm-8">-->
        <!--						<input type="hidden" class="form-control mb-2 mr-sm-2"-->
        <!--							placeholder="Id" id="1" th:field="" name="id">-->
        <!--					</div>-->
        <!--				</div>-->
        <input type="text" style= "display:none" th:field="*{id}">
        <div class="form-group row">
            <label for="name" class="col-form-label col-sm-4">Name:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control mb-2 mr-sm-2"
                       placeholder="Enter name" id="name" th:field="*{name}">
            </div>
        </div>

        <div class="form-group row">
            <label for="email" class="col-form-label col-sm-4">Email:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control mb-2 mr-sm-2"
                       placeholder="Enter email" id="email" th:field="*{email}">
            </div>
        </div>

        <div class="form-group row">
            <label for="phone" class="col-form-label col-sm-4">Phone:</label>
            <div class="col-sm-8">
                <input type="number" class="form-control mb-2 mr-sm-2"
                       placeholder="Enter phone number" id="phone" th:field="*{phone}">
            </div>
        </div>

        <div class="form-group row" >
            <label  for="frontIdCard" class="col-form-label col-sm-4">Front ID Card:</label>
            <!--<div class="col-sm-8">
                <input accept="image/*" type="file"  class="form-control" placeholder="Upload front ID card" name="frontIdCard">
            </div>-->
            <div class=" col-sm-6">
                <div class="mb-3">
                    <input type="file" name="file1" accept="image/*" onchange="loadFile(event)"
                    />
                </div>

            </div>
        </div>

        <div class="form-group row" >
            <label  for="backIdCard" class="col-form-label col-sm-4">Back ID Card:</label>
            <div class=" col-sm-6">
                <div class="mb-3">
                    <input type="file" name="file2" accept="image/*" onchange="loadFile(event)"
                    />
                </div>

            </div>
        </div>

        <div class="form-group row">
            <label for="phone" class="col-form-label col-sm-4">gender:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control mb-2 mr-sm-2"
                       placeholder="Enter phone number" id="gender" th:field="*{gender}">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-4">Apartment:</label>
            <div class="col-sm-8">
                <select style="height: 46px;border: 1px solid #ced4da;border-radius: 5px;" name="apartmentId"
                        class="form-select col">
                    <option th:value=1>Chọn</option>
                    <option th:each="d : ${listApartments}" name = "apartmentId" th:value="${d.id}"
                            th:text="${d.name}"></option>
                </select>
                <!--<p th:if="${select}==1">Vui lòng chọn Apartment</p>-->
            </div>
        </div>


        <!--				<div class="form-group row">-->
        <!--					<label for="4" class="col-form-label col-sm-4">Danh mục:</label>-->
        <!--					<div class="col-sm-8">-->
        <!--						<select th:field="*{category}" class="form-control" required>-->
        <!--							<th:block th:each="cate: ${listCategories}">-->
        <!--								<option th:text="${cate.type}" th:value="${cate.id}"></option>-->
        <!--							</th:block>-->
        <!--						</select>-->
        <!--					</div>-->
        <!--				</div>-->

        <div class="text-center p-3">
            <button style="height: 38px;" type="submit"
                    class="btn btn-primary mb-2">Save
            </button>
        </div>
</div>
</form>
</div>
<div th:replace="/admin/footer :: footer"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#fileImage1').change(function () {
            showImageThumbnail1(this);
        });

        $('#fileImage2').change(function () {
            showImageThumbnail2(this);
        });

        $('#fileImage3').change(function () {
            showImageThumbnail3(this);
        });

    });

    function showImageThumbnail1(fileInput) {
        file = fileInput.files[0];
        reader = new FileReader();

        reader.onload = function (e) {
            $('#thumbnail1').attr('src', e.target.result);
        };

        reader.readAsDataURL(file);
    }

    $(document).ready(function () {
        $('#fileImage2').change(function () {
            showImageThumbnail(this);
        });
    });

    function showImageThumbnail2(fileInput) {
        file = fileInput.files[0];
        reader = new FileReader();

        reader.onload = function (e) {
            $('#thumbnail2').attr('src', e.target.result);
        };

        reader.readAsDataURL(file);
    }

    $(document).ready(function () {
        $('#fileImage3').change(function () {
            showImageThumbnail(this);
        });
    });

    function showImageThumbnail3(fileInput) {
        file = fileInput.files[0];
        reader = new FileReader();

        reader.onload = function (e) {
            $('#thumbnail3').attr('src', e.target.result);
        };

        reader.readAsDataURL(file);
    }

</script>
</body>
</html>
<style>
    .form-group .col-form-label {
        text-align: left;
    }
</style>