<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Manage Apartment</title>

<!-- Latest compiled and minified CSS -->
<link th:rel="stylesheet"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}"></link>
<!-- jQuery library -->
<script
	th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>

<!-- Popper JS -->
<script
	th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js}"></script>

<!-- Latest compiled JavaScript -->
<script
	th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"></script>

<link rel="stylesheet" th:href="@{/css/viewperson.css}"></link>

</head>
<body>
	<div th:replace="/admin/header :: header"></div>
	<div class="container">
		<h2>
			<b>CHI TIET</b>
		</h2>
		<div style="display: flex; align-items: center;">
<!--			<form style="margin : 5px" th:action="@{/admin/bill}">-->
				<a class="btn btn-warning" th:href="@{/admin/bill-utility/add}">Create new bill-utility</b>
				</a>
<!--			</form>-->
			<div class="box_search"></div>
		</div>

		<table
			class="table table-bordered table-striped table-responsive-stack"
			id="myTable">
			<thead class="thead-dark">
				<tr>
					<th>Id</th>
					<th>Bill_id</th>
					<th>Apartment</th>
					<th>Utility_name</th>
					<th>Utility_unitprice</th>
					<th>Quantity</th>
					<th>UnitPrice</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="b : ${bill_utilities}">
					<tr>
						<td><span th:text="${b.id}"></span></td>
						<td><a th:text="${b.bill.id}"></a></td>
						<td><a th:text="${b.bill.apartment.name}"></a></td>
						<td><span th:text="${b.utility.name}"></span></td>
						<td><span th:text="${b.utility.unitPrice}"></span></td>
						<td><span th:text="${b.quantity}"></span></td>
						<td><span th:text="${b.unitPrice}"></span></td>
						<td><div class="btn-group">
								<a th:href="@{'/admin/apartment/edit/' + ${b.id}}" class="btn btn-success">Edit</a>

<!--									th:href="@{'/admin/apartment/delete/' + ${b.id}}">Xóa</a>-->
							</div></td>
					</tr>
				</th:block>
			</tbody>
		</table>


	</div>
	<div th:replace="/admin/footer :: footer"></div>

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
	<script>
		$(document).ready(function() {
			var table = $('#myTable').DataTable();

			// Tạo ô input để nhập từ khóa tìm kiếm
			// $('#myTable_filter').prepend('<input type="text" id="searchBox" placeholder="Search..."/>');

			// Sự kiện khi nhập từ khóa tìm kiếm
			$('#searchBox').keyup(function() {
				table.search($(this).val()).draw();
			});
			$("#myTable_filter").appendTo(".box_search");
		} );
	</script>

<!--	<div class="row undertable col-12 col-sm-3 col-md-3">-->
<!--		<div class="row">-->
<!--			<ul class="pagination">-->

<!--				<li th:if="${totalPage > 0}" class="page-item">-->
<!--					<a class="page-link" th:href="@{'/admin/bill/chi-tiet?page='+ ${page - 1 < 0 ? 0 : (page - 1)} + '&billId=' + ${billId} }">Previous</a>-->
<!--				</li>-->

<!--				<li th:if="${totalPage > 0}" th:each="i: ${#numbers.sequence(0, totalPage - 1)}" class="page-item">-->
<!--					<a class="page-link" th:href="@{'/admin/bill/chi-tiet?page='+ ${i} + '&billId=' + ${billId} }" th:text="${i}"></a>-->
<!--				</li>-->

<!--				<li th:if="${totalPage > 0}" class="page-item">-->
<!--					<a class="page-link" th:href="@{'/admin/bill/chi-tiet?page='+ ${page + 1 >= totalPage ? (totalPage - 1) : (page + 1) } + '&billId=' + ${billId} }">Next</a>-->
<!--				</li>-->

<!--			</ul>-->
<!--		</div>-->
<!--	</div>-->

</body>
</html>
<style>
	.box_search {
		margin: 0 0 0 15px;
	}
	.box_search #myTable_filter label {
		margin: 0;
		font-size: 16px;
		font-weight: 600;
	}
	#myTable_filter input {
		height: 38px;
		border: 1px solid #d3d3d3;
		margin: 0 0 0 10px;
		border-radius: 5px;
	}
	.container > h2 {
		margin: 50px 0;
	}
	div#myTable_wrapper {
		margin: 10px 0 0;
	}
	#myTable_wrapper tbody tr td, #myTable_wrapper thead tr th {
		text-align: center;
	}
</style>