<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Manage Apartment</title>

<!-- Latest compiled and minified CSS -->
<link th:rel="stylesheet"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}"></link>
<!-- jQuery library -->
<script
	th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>

<!-- Popper JS -->
<script
	th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js}"></script>

<!-- Latest compiled JavaScript -->
<script
	th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"></script>

<link rel="stylesheet" th:href="@{/css/viewperson.css}"></link>

</head>
<body>
	<div th:replace="/admin/header :: header"></div>
	<div class="container">
		<h2>
			<b>APARTMENT INFORMATION</b>
		</h2>
		<form style="margin : 5px" th:action="@{/admin/blog}">
			<a class="btn btn-warning" th:href="@{/admin/apartment/add}">Thêm
				thông tin căn hộ</b>
			</a> <input style="height:38px;vertical-align:middle;" type="text" id="keyword" placeholder="Tìm kiếm"
				 name="keyword" th:value="${keyword}">
			<button type="submit" class="btn btn-primary">Tìm kiếm</button>
			
<!--			<label>Category</label>-->
<!--			<select name = "category" th:value="${categoriesForBlogDTO}">-->
<!--				<option value="">Choose an option</option>-->
<!--				<th:block th:each="cate: ${categoryForBlog}">-->
<!--					<option th:text="${cate.type}" th:value="${cate.id}"></option>-->
				</th:block>
			</select>
		</form>
		<table
			class="table table-bordered table-striped table-responsive-stack"
			id="tableOne">
			<thead class="thead-dark">
				<tr>
					<th>Id</th>
					<th>Area</th>
					<th>Name</th>
					<th>Number of room</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="b : ${apartments}">
					<tr>
						<td><span th:text="${b.id}"></span></td>
						<td><a th:text="${b.area}"></a></td>
						<td><span th:text="${b.name}"></span></td>
						<td><span th:text="${b.num_rooms}"></span></td>
						<td><div class="btn-group">
								<a th:href="@{'/admin/apartment/edit/' + ${b.id}}" class="btn btn-success">Sửa</a> <a class="btn btn-danger"

									th:href="@{'/admin/apartment/delete/' + ${b.id}}">Xóa</a>
							</div></td>
					</tr>
				</th:block>
			</tbody>
		</table>
		<div class="clearfix">
			<ul class="pagination">
				<li class="page-item disabled"><a href="#" class="page-link">Previous</a></li>
				<li class="page-item active" ><a href="#" class="page-link">1</a></li>
				<li class="page-item"><a href="#" class="page-link">2</a></li>
				<li class="page-item"><a href="#" class="page-link">3</a></li>
				<li class="page-item"><a href="#" class="page-link">4</a></li>
				<li class="page-item"><a href="#" class="page-link">5</a></li>
				<li class="page-item"><a href="#" class="page-link">Next</a></li>
			</ul>
		</div>
	</div>
	<div th:replace="/admin/footer :: footer"></div>

	<link href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script>
		$(document).ready(function () {
			$("#tableOne").DataTable({
				lengthMenu: [5, 10, 20, 30], // show entries
				'columnDefs': [
					{
						'searchable': false,
						'targets': [0, 1, 2, 3, 5, 8, 9, 10] // cac truong k cho search
						// see https://datatables.net/reference/option/columns.searchable
					},
					{
						'orderable': false,
						'targets': [1, 2, 3, 4, 10] // cac truong k cho filter
					},
				]
			});
		});
	</script>
</body>
</html>